<option value="af_ZA">Afrikaans</option>
<option value="ar">Arabic</option>
<option value="az">Azerbaijan</option>
<option value="cz">Czech</option>
<option value="de">Germany</option>
<option value="de_AT">Austria (German)</option>
<option value="de_CH">Switzerland (German)</option>
<option value="el">Greece</option>
<option value="en">English</option>
<option value="en_AU">English Australia</option>
<option value="en_AU_ocker">Australia Ocker</option>
<option value="en_BORK">Bork</option>
<option value="en_CA">Canada</option>
<option value="en_GB" selected="selected">Great Britain</option>
<option value="en_IE">Ireland</option>
<option value="en_IND">India (English)</option>
<option value="en_NG">Nigeria (English)</option>
<option value="en_US">United States</option>
<option value="en_ZA">South Africa (English)</option>
<option value="es">Spain</option>
<option value="es_MX">Mexico (Spanish)</option>
<option value="fa">Farsi</option>
<option value="fi">Finnland</option>
<option value="fr">France</option>
<option value="fr_CA">French (Canada)</option>
<option value="fr_CH">French (Switzerland)</option>
<option value="ge">Georgia</option>
<option value="hr">Hrvatski</option>
<option value="id_ID">Indonesia</option>
<option value="it">Italy</option>
<option value="ja">Japan</option>
<option value="ko">Korea</option>
<option value="lv">Latvia</option>
<option value="nb_NO">Norwey</option>
<option value="ne">Nepal</option>
<option value="nl">Dutch</option>
<option value="nl_BE">Dutch (Belgium)</option>
<option value="pl">Poland</option>
<option value="pt_BR">Portuguese (Brazil)</option>
<option value="pt_PT">Portuguese (Portugal)</option>
<option value="ro">Romania</option>
<option value="ru">Russia</option>
<option value="sk">Slovakia</option>
<option value="sv">Sweden</option>
<option value="tr">Turkie</option>
<option value="uk">Ukraine</option>
<option value="vi">Vietnam</option>
<option value="zh_CN">China</option>
<option value="zh_TW">Taiwan</option>
<option value="zu_ZA">Zulu (South Africa)</option>